apiVersion: apps/v1
kind: Deployment
metadata:
  name: webpublic-NAMESPACE
  namespace: acmvp-NAMESPACE
spec:
  replicas: 1
  selector:
    matchLabels:
      app: acmvp-webpublic-NAMESPACE
  template:
    metadata:
      labels:
        app: acmvp-webpublic-NAMESPACE
    spec:
      containers:
      - name: webpublic
        image: 123456789012.dkr.ecr.us-east-1.amazonaws.com/kube-webpublic:branch-tag
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "local"
      - name: nginx
        image: 123456789012.dkr.ecr.us-east-1.amazonaws.com/kube-nginx-ssl:branch-tag
        imagePullPolicy: Never
        ports:
        - containerPort: 80
        - containerPort: 443

---
apiVersion: v1
kind: Service
metadata:
  name: webpublic-service
  namespace: acmvp-NAMESPACE
spec:
  selector:
    app: acmvp-webpublic-NAMESPACE
  ports:
  - port: 8080       

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: acmvp-NAMESPACE
spec:
  selector:
    app: acmvp-webpublic-NAMESPACE
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
  - name: https
    port: 443
    targetPort: 443
    nodePort: 30043
  type: NodePort